/.idea/dataSources/9dcc673d-ad8d-4fb5-8c93-1e8611065090.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/9dcc673d-ad8d-4fb5-8c93-1e8611065090/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/LoginEmail.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/dataSources/9dcc673d-ad8d-4fb5-8c93-1e8611065090/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/9dcc673d-ad8d-4fb5-8c93-1e8611065090/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sqldialects.xml
/.idea/dataSources/9dcc673d-ad8d-4fb5-8c93-1e8611065090/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/vcs.xml
/.idea/workspace.xml
